[user]
name = Hiroki SAKABE
email = hiroki.sakabe@icloud.com

[alias]
delete-merged = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; };f"
gg = "log --graph --pretty=oneline"

[rebase]
autostash = true
abbreviateCommands = true
autosqaush = true

[pull]
ff = only

[core]
excludesfile = ~/.gitignore_global

[push]
autoSetupRemote = true

[init]
defaultBranch = main

[ghq]
root = ~/work
