format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$character"""


[directory]
style = "bold #e95420"

[character]
success_symbol = "[❯](#e95420)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](#e95420)"

[git_branch]
format = "[$branch]($style)"
style = "bold #772953"

[git_status]
format = "[(*$conflicted$untracked$modified$staged$renamed$deleted) ($ahead_behind$stashed)]($style)"
conflicted = ""
untracked = ""
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '

[cmd_duration]
format = "[$duration]($style) "
